<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<!-- <html lang="en"> -->

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>404</title>
  <link href="../static/css/styles.css" rel="stylesheet" />
  <link href="../static/css/smallStyle.css" rel="stylesheet" />
  <script src="../static/js/all.min.js"></script>
  <link th:href="@{/css/styles.css}" rel="stylesheet" />
  <link th:href="@{/css/smallStyle.css}" rel="stylesheet" />
  <script th:src="@{/js/all.min.js}"></script>
</head>

<body>
  <!--/*@thymesVar id="mess" type="java.lang.String"*/-->
  <div id="layoutError">
    <div id="layoutError_content">
      <main>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="text-center mt-4">
                <!-- <img class="mb-4 img-error" src="../static/images/error-404-monochrome.svg" /> -->
                <img src="../static/images/error.jpg" class="mb-4 " style="width: 10rem;" />
                <p class="lead" th:text="${mess}">系统出现错误，请联系管理员</p>
                <a th:href="@{/}" th:value="返回"><i class="fas fa-arrow-left mr-1"></i>返回</a>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <div id="layoutError_footer">
      <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid">
          <div class="d-flex align-items-center justify-content-between small">
            <div class="container-fluid">
              <div class="qm-align-center  small">
                <div class="text-muted"></div>版权 &copy; 小微商场 2020
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
  <script th:src="@{/js/scripts.js}"></script>
  <script th:src="@{/js/smallJs.js}"></script>
  <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
  <script src="../static/js/jquery-3.4.1.min.js"></script>
  <script src="../static/js/bootstrap.bundle.min.js"></script>
  <script src="../static/js/scripts.js"></script>
</body>

</html>